html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.w-100 {
  position: relative;
  width: calc(800px - 700px);
}

.w-200 {
  position: relative;
  width: calc(800px - 600px);
}

.w-300 {
  position: relative;
  width: calc(800px - 500px);
}

.w-350 {
  position: relative;
  width: calc(800px - 450px);
}

.w-400 {
  position: relative;
  width: calc(800px - 400px);
}

.w-500 {
  position: relative;
  width: calc(800px - 300px);
}

.w-600 {
  position: relative;
  width: calc(800px - 200px);
}

.w-700 {
  position: relative;
  width: calc(800px - 100px);
}

.w-800 {
  position: relative;
  width: calc(800px - 00px);
}

.w-full {
  position: relative;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
